@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #000;
    background: url(img/aha.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid aqua;
    z-index: 999;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 85px;
}
header nav .logo{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
header nav .logo span{
    color: aqua;
}
header nav .links{
    display: flex;
}
header nav .links li {
    position: relative;
    margin: 0 20px;
    height: 30px;
    line-height: 30px;
}
header nav .links li a{
    font-size: 17px;
    color: antiquewhite;
    transition: 0.2s;
}
header nav .links li a:hover{
    color: #1a79b8;
    
}
header nav .links li::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0 ;
    width: 0%;
    height: 2px;
    background-color: aqua;
    transition: 0.3s ;
}
header nav .links li.active::after{
    width: 100%;
}
header nav .links li:hover::after{
    width: 100%;
}

header nav .icons-links a i{
    color: aqua;
    font-size: 24px;
    margin-left: 15px;
    transition: 0.3s;
}
header nav .icons-links a i:hover{
    color: #185a86;
}
#btnmenu{
    display: none;
}
.main{
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
}

.main .con{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 70px;
    position: relative;
    width: 85%;
    max-width: 47%;
}

.name{
    text-transform: uppercase;
    color: aqua;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 5px;
}
.name span{
    color: white;
}
.con .profession{
    color: #63ff63;
    font-size:30px ;
    font-weight: 500;
    margin-bottom: 4px;
}
.con p{
    color: white;
    font-size: 15px;
    line-height: 1.7;
}
.con .btn{
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: aqua;
    padding: 10px;
    margin-top: 10px;
    font-weight: 500;
    border-radius: 15px;
    transition: ease 0.4s;   
}
.con .btn:hover{
    transform: scale(1.1);
}

/* responsive */

@media(max-width : 826px ){
    header nav .links{
        position: absolute;
        top: 100%;
        right: -420px;
        flex-direction: column;
        background-color: #0f0f0f;
        border-left: 1px solid aqua ;
        width: 400px;
        height: 100vh;
        text-align: center;
        padding: 20px  0;
        transition: 0.3s ease;
    }  
    header nav .links.active{
        right: 0;
    }

    header nav .links li{
        line-height: 80px;
        height: 80px;
    }
    .icons-links{
        display: none;
    }
    #btnmenu{
        display: block;
        color: aqua;
        font-size: 30px;
    }
    .main{
        flex-direction: column;
        
    }
    .main .con{
        width: 80%;
        height: auto;
        margin: auto;
        text-align: center;
        align-items: center;
    }
    .con p{
        margin-top: 15px;
        letter-spacing: 3px;
    }
    .con .btn{
        margin-top:30px ;
    }
    
}


